// SYNTAX TEST "Packages/TeraSyntax/Tera.sublime-syntax"

<!DOCTYPE html>
<html>
<head>
    <title>Tera Test</title>
</head>
<body>
    {# This is a comment #}
//  ^^ punctuation.definition.comment.tera
//                    ^^ punctuation.definition.comment.tera

    {{ variable }}
//  ^^ punctuation.definition.tera
//            ^^ punctuation.definition.tera
//     ^^^^^^^^ variable.other.tera

    {{ object.property }}
//          ^ punctuation.accessor.tera
//           ^^^^^^^^ entity.name.property.tera

    {% if condition %}
//  ^^ punctuation.definition.tera
//     ^^ keyword.control.tera

    {% for item in items %}
//     ^^^ keyword.control.tera
//             ^^ keyword.operator.logical.tera

    {% raw %}
    This content won't be parsed
    {{ not.parsed }}
    {% endraw %}

    {{ 123 + 456 }}
//     ^^^ constant.numeric.tera
//         ^ keyword.operator.arithmetic.tera
//           ^^^ constant.numeric.tera

    {{ true and false }}
//     ^^^^ constant.language.boolean.tera
//          ^^^ keyword.operator.logical.tera
//              ^^^^^ constant.language.boolean.tera

    {{ "string" }}
//     ^^^^^^^^ string.quoted.double.tera

    {{ value | filter }}
//           ^ keyword.operator.tera
//             ^^^^^^ entity.name.function.tera
</body>
</html>
